@charset "utf-8";

html {
    height: 100%;
}

body {
    background: rgb(241, 241, 241);
    margin: 0;
    height: 100%;
}

#whole {
    width: 1000px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    margin-left: 0;
}

.main {
    height: 100%;
    background: #FFF;
    float: left;
    display: inline-block;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transition: all 1s;   /*在这里更改切换速度，除了这里，你还需要到JS文件中更改相应参数*/
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0;
}